body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    font-family: 'Inter', sans-serif;
}
.container {
    background-color: #2D3748;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.advice-number {
    color: #34D399;
    font-size: 14px;
    margin-bottom: 20px;
}
#adviceBox {
    color: #E5E7EB;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.divider {
    width: 100px;
    height: 5px;
    background-color: #4B5563;
    margin: 0 auto 20px;
}
.getAdviceBtn {
    background-color: #34D399;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.dice-button img {
    width: 24px;
    height: 24px;
}

/* ... existing styles ... */

#searchBar {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #34D399;
    border-radius: 5px;
    font-size: 16px;
}

#searchBtn {
    background-color: #34D399;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 20px;
}

#searchBtn:hover {
    background-color: #2BB489;
}

.suggestion-box {
    position: absolute;
    width: 200px;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
  }
  
  .suggestion-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestion-item:hover {
    background-color: #f0f0f0;
  }
  
